:root {
  --accent: #69dead;
  --accent-transparent: #69dead33;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
}

textarea {
  border-radius: 1rem;
  padding: 1rem;
  font: inherit;
  border: 2px dashed var(--accent);
  background-color: var(--accent-transparent);
  width: 40vw;
  height: 40vh;
}

header,
footer {
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

button {
  border: none;
  border-radius: 12px;
  padding: 12px;
  margin: 12px auto;
  background-color: var(--accent);
  font: inherit;
}

button:hover {
  box-shadow: 0px 0px 10px 2px var(--accent);
}

label {
  cursor: pointer;
}
input:checked + label {
  background-color: var(--accent-transparent);
  font-weight: 900;
}

fieldset {
  padding: 1rem;
}
legend {
  font-variant: small-caps;
  font-size: 20px;
  margin: 1rem;
}
input {
  height: 15px;
  width: 25px;
  accent-color: var(--accent);
}

.boxes {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.options {
  width: 80%;
  margin: auto;
}

.arrow {
  font-size: 40px;
}
